package $packageName;

import ${cmPackageName}.*;

public $classModifiers class $className extends $superclass $interfaces {

    public $className(Object[] childNodes) {
    }

    #foreach($nodeGetter in $nodeGetters)
	    public $nodeGetter.nodeTypeCm ${nodeGetter.getterName}() {
            return ($nodeGetter.nodeTypeCm)InternalPsiUtil.getCmFromPsi(InternalPsiUtil.getChild(this, $nodeGetter.childIndex));
        }
    #end

}
