package $packageName;

import ${basePackageName}.cm.CmNode;
import ${basePackageName}.cm.CmOptional;

public final class CmOptionalImpl<T extends CmNode> extends CmNodeImpl implements CmOptional<T> {

    private final T it;

    public CmOptionalImpl(Object[] reduction) {
    // TODO
    }

    public T getIt() {
        return it;
    }

}
