package $packageName;

import ${packageName}.cm.impl.*;

public class $className {

	//
	// terminals
	//

#foreach($terminal in $terminals)
	public static final $terminalElementTypeClass $terminal = new $terminalElementTypeClass("$terminal", null);
#end


	//
	// nonterminals
	//

#foreach($nonterminalAlternative in $nonterminalAlternatives)
    public static final $nonterminalElementTypeClass $nonterminalAlternative.variable = new $nonterminalElementTypeClass("$nonterminalAlternative.variable", $nonterminalAlternative.factory);
#end


	//
	// special
	//

    // partially parsed input in case of an error
	public static final $nonterminalElementTypeClass __PARSED_FRAGMENT = new $nonterminalElementTypeClass("__PARSED_FRAGMENT", null);

}
