package $packageName;

import com.intellij.lang.ASTNode;
import com.intellij.lang.LightPsiParser;
import com.intellij.lang.PsiBuilder;
import com.intellij.lang.PsiParser;
import com.intellij.psi.TokenType;
import com.intellij.psi.tree.IElementType;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;

public $classModifiers class $className extends $superclass {

    #foreach($nodeGetter in $nodeGetters)
    public $nodeGetter.nodeType ${nodeGetter.getterName}() {
            return ($nodeGetter.nodeType)(getChildren()[$nodeGetter.childIndex]);
        }
    #end

}
