package $packageName;

public class $className {

	//
	// terminals
	//

#foreach($terminal in $terminals)
	public static final $terminalElementTypeClass $terminal = new $terminalElementTypeClass("$terminal");
#end

	//
	// nonterminals
	//

#foreach($nonterminal in $nonterminals)
	public static final $nonterminalElementTypeClass $nonterminal = new $nonterminalElementTypeClass("$nonterminal");
#end

}
