package $packageName;

import com.intellij.psi.impl.source.tree.LeafPsiElement;

import ${basePackageName}.cm.CmToken;

public final class CmTokenImpl implements PsiCm, CmToken {

    private final LeafPsiElement psi;

    public CmTokenImpl(LeafPsiElement psi) {
        this.psi = psi;
    }

    @Override
    public LeafPsiElement getPsi() {
        return psi;
    }

}
