package $packageName;

import ${psiPackageName}.PsiFactory;

public final class ASTNode {

	private final IElementType elementType;
	private final ASTNode[] children;
	private PsiElement psi;

	public ASTNode(IElementType elementType, ASTNode[] children) {
		this.elementType = elementType;
		this.children = children;
	}

	public IElementType getElementType() {
		return elementType;
	}

	public ASTNode[] getChildren() {
		return children;
	}

	public PsiElement getPsi() {
		if (psi == null) {
			psi = PsiFactory.createPsiElement(this);
		}
		return psi;
	}

}
