package $packageName;

public final class LeafPsiElement extends PsiElement {

	private static final PsiElement[] NO_CHILDREN = new PsiElement[0];

	private final ASTNode node;

	public PsiElement(ASTNode node) {
		this.node = node;
	}

	public ASTNode getNode() {
		return node;
	}

	public IElementType getType() {
		return node.getType();
	}

	public PsiElement[] getChildren() {
		if (node.getChildren().length > 0) {
			throw new RuntimeException("LeafPsiElement was created for ASTNode with children");
		}
		return NO_CHILDREN;
	}

}
