package $packageName;

public final class Optional<T extends PsiElement> extends PsiElement {

    public Optional(ASTNode node) {
        super(node);
    }

    public T getIt() {
        return (T)InternalPsiUtil.getChild(this, 0);
    }

}
