package $packageName;

public class PsiElement {

	private final ASTNode node;
	private PsiElement[] children;

	public PsiElement(ASTNode node) {
		this.node = node;
	}

	public ASTNode getNode() {
		return node;
	}

	public IElementType getElementType() {
		return node.getElementType();
	}

	public PsiElement[] getChildren() {
		if (children == null) {
			ASTNode[] childNodes = node.getChildren();
			children = new PsiElement[childNodes.length];
			for (int i = 0; i < childNodes.length; i++) {
				children[i] = childNodes[i].getPsi();
			}
		}
		return children;
	}

}
