package $packageName;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;

${symbolHolderImport}

public class PsiFactory {

    public static PsiElement createPsiElement(ASTNode node) {
        IElementType type = node.getElementType();

        #foreach($case in $cases)
            if (type == ${symbolHolder}.${case.elementType}) {
                return new ${case.psiClass}(node${case.additionalConstructorArguments});
            }
        #end
		if (type == ${symbolHolder}.__PARSED_FRAGMENT) {
			return new PsiElement(node);
        }

        throw new RuntimeException("cannot create PSI element for AST node due to unknown element type: " + type);
    }

	private static IElementType[] createTokenSet(IElementType... types) {
		return types;
	}

}
