package $packageName;

public final class LeafPsiElement extends PsiElement {

	private static final PsiElement[] NO_CHILDREN = new PsiElement[0];

	public LeafPsiElement(ASTNode node) {
		super(node);
	}

	public PsiElement[] getChildren() {
		if (getNode().getChildren().length > 0) {
			throw new RuntimeException("LeafPsiElement was created for ASTNode with children");
		}
		return NO_CHILDREN;
	}

}
