package $packageName;

#if($intellij)
import com.google.common.collect.ImmutableList;
import com.intellij.lang.ASTNode;
import com.intellij.psi.PsiElement;
import com.intellij.extapi.psi.ASTWrapperPsiElement;
import com.intellij.psi.tree.TokenSet;
import org.jetbrains.annotations.NotNull;
#end

import java.util.List;
import java.util.function.Consumer;
import java.util.ArrayList;

public final class ListNode<T extends PsiElement> extends ASTWrapperPsiElement {

    private final TokenSet elementTypes;
    private final Class<T> elementClass;

    public ListNode($notNull ASTNode node, TokenSet elementTypes, Class<T> elementClass) {
        super(node);
        this.elementTypes = elementTypes;
        this.elementClass = elementClass;
    }

    public <S extends PsiElement> ListNode<S> cast(Class<S> subclass) {
        if (!elementClass.isAssignableFrom(subclass)) {
            throw new ClassCastException(subclass.getName() + " is not a subclass of " + elementClass.getName());
        }
        return (ListNode)this;
    }

    public final List<T> getAll() {
        List<T> list = new ArrayList<>();
        addAllTo(list);
        return list;
	}

	public final void addAllTo(List<T> list) {
        foreach(list::add);
	}

    #if($intellij)
	public final void addAllTo(ImmutableList.Builder<T> builder) {
        foreach(builder::add);
	}
	#end

    public final void foreach(Consumer<T> consumer) {
        InternalPsiUtil.foreachChild(this, child -> {
            if (elementTypes.contains(child.getNode().getElementType())) {
                consumer.accept(elementClass.cast(child));
            } else if (child instanceof ListNode<?> && child.getNode().getElementType() == getNode().getElementType()) {
                ListNode<?> typedChild = (ListNode<?>)child;
                typedChild.cast(elementClass).foreach(consumer);
            }
        });
    }

}
